.sendFeedback__content {

    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 1101;
    .paper {
        height: 100%;
        text-align: center;
        
    }
    .main-box {
       padding:  26px 26px 0px 26px;
    }
    .buttons {
        margin-top: 20px;
        margin-left: 50px;
        position: relative;
    }
    .close {
        position: absolute;
        top: 13px;
        right: 13px;
    }
    .success {
        padding: 30px;
    }
    .error {
        padding: 30px;
    }
    .loading{
        padding: 18px 0px 0px 0px;
        .icon {
            justify-content: center;
            align-items: center;
            align-content: center;
            align-self: center;
        }
    }
}