{
    "plugins": [
        "react-hot-loader/babel",
        "transform-decorators-legacy",
        "transform-runtime"
    ],
    "presets": [
        ["env", { "modules": false }],
        "react",
        "stage-0"
    ]
}