// Colors
$grey: #333333;
$light-grey: #fafafa;
$light-grey2:#f7f7f7;
$light-grey3:#ada7a7;
$green-teal:#00ab6b;
$teal:#58d09f;
$gold: #FFD700;
$green: #4CAF50;

$light-grey-border: #eeeeee;
$light-color: #aaa;

// Navigation colors
$nav-background: $grey;
$nav-text-color: white;

// Shadow
$glob-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);

