    /*
    Flaticon icon font: Flaticon
    */

    @font-face {
      font-family: "Flaticon";
      src: url("../assets/fonts/Flaticon.eot");
      src: url("../assets/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
           url("../assets/fonts/Flaticon.woff") format("woff"),
           url("../assets/fonts/Flaticon.ttf") format("truetype"),
           url("../assets/images/Flaticon.svg#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
    }
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "Flaticon";
        src: url("../assets/images/Flaticon.svg#Flaticon") format("svg");
      }
    }
    
        .fi:before{
            display: inline-block;
      font-family: "Flaticon";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      line-height: 1;
      text-decoration: inherit;
      text-rendering: optimizeLegibility;
      text-transform: none;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
        }
    
        .flaticon-sad-2:before { content: "\f100"; }
    .flaticon-sad-1:before { content: "\f101"; }
    .flaticon-neutral:before { content: "\f102"; }
    .flaticon-happy-2:before { content: "\f103"; }
    .flaticon-sad:before { content: "\f104"; }
    .flaticon-happy-1:before { content: "\f105"; }
    .flaticon-happy:before { content: "\f106"; }
        
        $font-Flaticon-sad-2: "\f100";
        $font-Flaticon-sad-1: "\f101";
        $font-Flaticon-neutral: "\f102";
        $font-Flaticon-happy-2: "\f103";
        $font-Flaticon-sad: "\f104";
        $font-Flaticon-happy-1: "\f105";
        $font-Flaticon-happy: "\f106";